:root {
  --color-first: #111827;
  --color-secondary: #1e293b;
  --color-third: #334155;
  --text-first: #fafafa;
  --text-secondary: #d4d4d8;
  --text-third: #969696;
}

html,
body {
  font-family: 'Comfortaa', cursive !important;
  scroll-behavior: smooth;
  font-weight: 500 !important;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
}

@media only screen and (max-width: 1344px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
}

::-webkit-scrollbar {
  background-color: var(--color-secondary);
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-third);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparentize($color: #334155, $amount: 0.4);
}

h1,
h2,
h3,
h4,
h5,
p,
title,
.heading {
  color: var(--text-first);
}

h1,
h2 {
  font-weight: 700 !important;
}

h3,
h4 {
  font-weight: 600 !important;
}

a {
  color: var(--text-secondary);
  word-break: break-all;
  &:hover {
    color: var(--text-first);
  }
}

.icon {
  font-size: 70%;
}

i {
  color: var(--text-secondary);
  font-size: 1.4rem;
  &:hover {
    color: var(--text-first);
  }
}

.bg-color-secondary {
  background-color: var(--color-secondary);
}

.min-370px-height {
  min-height: 370px;
}

.title {
  color: var(--text-first);
}

.nuxt-content {
  & h1,
  h2,
  h3 {
    color: var(--text-first);
    font-weight: 900;
  }
  & .icon.icon-link {
    display: none;
  }
  & a {
    text-decoration: underline;
  }
  & p {
    color: var(--text-secondary);
    font-size: 1.3rem;
    & code {
      background-color: var(--color-third);
      color: var(--text-secondary);
      margin: 0 2px;
      border-radius: 3px;
    }
  }
  & pre[class*='language-'] {
    background-color: var(--color-third);
    color: var(--text-secondary);
    text-shadow: none;
    font-family: 'Fira Code', monospace !important;
    border-radius: 8px;
    margin: 25px 0;
  }
  & ul {
    list-style-type: circle;
    padding: 3px 0 5px 0;
    li {
      padding: 3px 0;
    }
    & code {
      background-color: var(--color-third);
      color: var(--text-secondary);
      margin: 0 2px;
      border-radius: 3px;
    }
  }
  & img {
    background-color: var(--text-first);
    padding: 15px;
    border-radius: 12px;
  }
  hr {
    background-color: var(--text-third);
    margin: 1rem 0;
    text-align: center;
    padding: 40px 0;
    &::before {
      content: '...';
      display: inline-block;
      margin-left: 0.6em;
      color: var(--text-first);
      position: relative;
      top: -30px;
      font-weight: 400;
      font-style: italic;
      font-size: 30px;
      letter-spacing: 0.6em;
    }
  }
}

.wrapper {
  min-height: calc(100vh - 288px);
  flex-direction: column;
  justify-content: space-between;
}

.navbar-menu {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.notification-badge {
  position: relative;
}
.notification-badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1em;
  background: red;
  color: white;
  padding: 0.5rem 0.7rem;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.snackbar {
  background-color: var(--color-first) !important;
  & .action button {
    background-color: var(--color-third) !important;
  }
}
